@use 'config';

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.5vh;
  background-color: config.$primary-color;
  background-attachment: fixed;
  color: white;
}

.App{
  &-header{
    min-height: 15vh;
  }
  .header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    ul {
      display: flex;
      li{
        list-style: none;
        p {
          cursor: pointer;
          padding: 5px;
        }
        .navh{
          width: inherit;
          height: 2px;
          visibility: hidden;
          background-color: white;
        }
        &:hover{
          .navh{
            visibility: visible;
          }
        }
      }
    }
  }
}

td, th {
  float: center;
  padding: 5px;
}
